@import "~bootstrap/scss/bootstrap";
@import './styles/variables';

body {
  background-color:rgba(36, 156, 196, 0.938);
}

#banner {
  margin-top: 100px;
  text-align: center;
}

#auth {

}

.loginBut {
  align-self: center;
}

#wrapper2 {
  display: flex;
  flex-direction: column;
}

#addBut {
  // max-width: 800px;
  align-self: center;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-row2 {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: column;
}

#taskPrint {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.deleteThis {
  align-self: center;
}